h1 {
	font-size: 1.75rem;
	line-height: 1.6;
	margin-bottom: 1.5rem;
	color:#ffffff;
}
.container {
	background: #000000;
  	font-size: 1rem;
   	line-height: 1.3;
   	margin-top: 1rem;
  	padding: .75rem;
  	line-height: 0.75rem;
	}
.main-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-nav-item {
	font-weight: bold;
 	padding: .5rem;
  	text-decoration: none;
}
p {
	font-size:.85rem;
 	margin:100px 100px 1.5rem;
 	justify-content:center;

}
ul {
  	font-size:.75rem;
  	margin:100px 100px 1.5rem;
}
nav {
	text-align:right;
}
.header {
	display:flex;
}
#bar{
    width:100%;
    height:5px;
    background-color:#4800db;
    background-color: #000000;
}

@media screen and (min-width: 640px){
  .header {
    display: flex;
    justify-content: space-between;
    center-items: center;
  }
  .main-nav-list {
    display:flex;
  }
  }